*                   @digdir/team-dialogporten-backend
.azure/**           @digdir/team-dialogporten-infra @digdir/team-dialogporten-backend
.github/**          @digdir/team-dialogporten-infra @digdir/team-dialogporten-backend
.github/CODEOWNERS  @digdir/team-dialogporten-backend