# EditorConfig is awesome: https://EditorConfig.org

# See also Directory.Build.Props for additional analyzer settings

root = true

[*]
# Enforce line endings to be LF
end_of_line = lf
# Enforce indentation to be 4 spaces
indent_style = spaces
indent_size = 4
# Insert a final new line at the end of the file
insert_final_newline = true

[*.cs]

# Style faults should be warnings
dotnet_analyzer_diagnostic.category-Style.severity = warning

# Enforce file scoped namespaces
csharp_style_namespace_declarations = file_scoped:suggestion
# Place 'using' directives outside of namespaces
csharp_using_directive_placement = outside_namespace:true
# Order 'using' directives with System.* appearing first
dotnet_sort_system_directives_first = true
# Suggest the use of var when the type is apparent
csharp_style_var_for_built_in_types = true:suggestion
csharp_style_var_when_type_is_apparent = true:suggestion
csharp_style_var_elsewhere = true:suggestion
# Suggest using expression bodies
csharp_style_expression_bodied_methods = when_on_single_line
dotnet_diagnostic.IDE0022.severity = suggestion
# Don't mix non-braces and braces for ifs
csharp_prefer_braces = when_multiline

# "Expression body is never used"
dotnet_diagnostic.IDE0058.severity = none
# "'if' statement can be simplified"
dotnet_diagnostic.IDE0046.severity = suggestion
# "Do not declare static members on generic types"
dotnet_diagnostic.CA1000.severity = none
# "Instantiate argument exceptions correctly"
dotnet_diagnostic.CA2208.severity = suggestion
