name: "Publish nuget package"

on:
  workflow_call:
    inputs:
      version:
        description: "Version"
        required: true
        type: string
      path:
        description: "Path to project"
        required: true
        type: string
      source:
        description: "Source to push to"
        required: false
        type: string
        default: https://int.nugettest.org
    secrets:
      NUGET_API_KEY:
        required: true
jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: set PROJECT variable to point to project
        run: |
          PROJECT=${{inputs.path}}
          echo "PROJECT ${PROJECT}"
          echo "PROJECT=${PROJECT}" >> $GITHUB_ENV

      - name: Set up .NET
        uses: actions/setup-dotnet@v4
        with:
          global-json-file: ./global.json

      - name: Build
        run: dotnet build --configuration Release /p:Version=${{ inputs.version }} ${PROJECT}

      - name: Pack with debug symbols
        run: dotnet pack --configuration Release /p:Version=${{ inputs.version }} -p:IncludeSymbols=true -p:SymbolPackageFormat=snupkg --output . ${PROJECT}

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: package
          path: '*.*nupkg'
  push:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: package

      - name: Push to NuGet
        run: dotnet nuget push *.nupkg --source ${{ inputs.source }} --api-key ${{secrets.NUGET_API_KEY}}
        
